examples/HisInOneBeholder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- *** This is a generated XML file. Edit with care! *** -->
<definitions name="StudIPServiceDefinition" targetNamespace="http://www.his.de/ws/StudIPService" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wns="http://www.his.de/ws/StudIPService">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.his.de/ws/StudIPService">
            <complexType name="Account" abstract="false">
                <sequence>
                    <element name="username" type="string"></element>
                    <element name="validFrom" type="date" nillable="true"></element>
                    <element name="validTo" type="date" nillable="true"></element>
                </sequence>
            </complexType>
            <complexType name="DegreeProgram" abstract="false">
                <sequence>
                    <element name="studynumber" type="integer"></element>
                    <element name="subjectnumber" type="integer"></element>
                    <element name="studysemester" type="decimal"></element>
                    <element name="courseOfStudyId" type="long"></element>
                    <element name="term" type="integer"></element>
                </sequence>
            </complexType>
            <complexType name="KeyValue" abstract="false">
                <sequence>
                    <element name="id" type="long"></element>
                    <element name="key" type="string" nillable="true"></element>
                    <element name="label" type="string"></element>
                    <element name="hiskeyId" type="integer" nillable="true"></element>
                </sequence>
            </complexType>
            <complexType name="ExamInfo" abstract="false">
                <sequence>
                    <element name="examId" type="long"></element>
                    <element name="examKey" type="string" nillable="true"></element>
                    <element name="examNumber" type="string" nillable="true"></element>
                    <element name="examTitle" type="string"></element>
                </sequence>
            </complexType>
            <complexType name="AppMod" abstract="false">
                <sequence>
                    <element name="planelementChangeId" type="long"></element>
                    <element name="remark" type="string" nillable="true"></element>
                    <element name="initialDate" type="date" nillable="true"></element>
                    <element name="initialStart" type="time" nillable="true"></element>
                    <element name="initialEnd" type="time" nillable="true"></element>
                    <element name="room" type="wns:Room" nillable="true"></element>
                </sequence>
            </complexType>
            <complexType name="OrgunitChild" abstract="false">
                <sequence>
                    <element name="id" type="long"></element>
                    <element name="lid" type="long"></element>
                </sequence>
            </complexType>
            <complexType name="ExamDate" abstract="false">
                <sequence>
                    <element name="plannedDatesId" type="long"></element>
                    <element name="weekday" type="wns:KeyValue" nillable="true"></element>
                    <element name="date" type="date" nillable="true"></element>
                    <element name="time" type="wns:CTime"></element>
                </sequence>
            </complexType>
            <complexType name="CosSearchResponse" abstract="false">
                <sequence>
                    <element name="id" type="long"></element>
                    <element name="lid" type="long"></element>
                    <element name="uniquename" type="string"></element>
                    <element name="shorttext" type="string" nillable="true"></element>
                    <element name="defaulttext" type="string"></element>
                    <element name="longtext" type="string" nillable="true"></element>
                    <element name="courseOfStudyTypeValue" type="wns:KeyValue" nillable="true"></element>
                    <element name="courseSpecialization" type="wns:KeyValue" nillable="true"></element>
                    <element name="degree" type="wns:KeyValue" nillable="true"></element>
                    <element name="enrollment" type="wns:KeyValue" nillable="true"></element>
                    <element name="examinationversion" type="wns:KeyValue" nillable="true"></element>
                    <element name="formOfStudies" type="wns:KeyValue" nillable="true"></element>
                    <element name="majorFieldOfStudy" type="wns:KeyValue" nillable="true"></element>
                    <element name="orgunit" type="wns:OrgunitShort" nillable="true"></element>
                    <element name="partOfStudies" type="integer" nillable="true"></element>
                    <element name="partTimePercentage" type="integer" nillable="true"></element>
                    <element name="placeOfStudies" type="wns:KeyValue" nillable="true"></element>
                    <element name="regularNumberOfSemesters" type="integer" nillable="true"></element>
                    <element name="subject" type="wns:KeyValue" nillable="true"></element>
                    <element name="subjectIndicator" type="wns:KeyValue" nillable="true"></element>
                    <element name="typeOfStudy" type="wns:KeyValue" nillable="true"></element>
                    <element name="validFrom" type="date"></element>
                    <element name="validTo" type="date"></element>
                    <element name="examinationRegulationsIdList" type="wns:examinationRegulationsIdListType"></element>
                </sequence>
            </complexType>
            <complexType name="Course" abstract="false">
                <sequence>
                    <element name="id" type="long"></element>
                    <element name="eventType" type="wns:KeyValue"></element>
                    <element name="attendeeMaximum" type="integer" nillable="true"></element>
                    <element name="attendeeMinimum" type="integer" nillable="true"></element>
                    <element name="cancelled" type="boolean" nillable="true"></element>
                    <element name="defaulttext" type="string"></element>
                    <element name="hoursPerWeek" type="decimal" nillable="true"></element>
                    <element name="parallelgroup" type="wns:KeyValue"></element>
                    <element name="compulsoryRequirement" type="string" nillable="true"></element>
                    <element name="credits" type="string" nillable="true"></element>
                    <element name="examinationAchievement" type="string" nillable="true"></element>
                    <element name="grading" type="string" nillable="true"></element>
                    <element name="targetGroup" type="string" nillable="true"></element>
                    <element name="teachingLanguage" type="wns:KeyValue" nillable="true"></element>
                    <element name="teachingMethod" type="string" nillable="true"></element>
                    <element name="workload" type="string" nillable="true"></element>
                    <element name="plannedDates" type="wns:plannedDatesType"></element>
                    <element name="orgunits" type="wns:orgunitsType"></element>
                    <element name="personResponsibles" type="wns:personResponsiblesType"></element>
                </sequence>
            </complexType>
            <complexType name="Member" abstract="false">
                <sequence>
                    <element name="id" type="long"></element>
                    <element name="firstname" type="string"></element>
                    <element name="surname" type="string"></element>
                    <element name="gender" type="string"></element>
                    <element name="birthname" type="string" nillable="true"></element>
                    <element name="nameprefix" type="string" nillable="true"></element>
                    <element name="namesuffix" type="string" nillable="true"></element>
                    <element name="academicdegreesuffix" type="string" nillable="true"></element>
                    <element name="academicdegree" type="wns:KeyValue" nillable="true"></element>
                    <element name="title" type="wns:KeyValue" nillable="true"></element>
                    <element name="account" type="wns:Account" nillable="true"></element>
                </sequence>
            </complexType>
            <complexType name="Room" abstract="false">
                <sequence>
                    <element name="roomId" type="long"></element>
                    <element name="room" type="string"></element>
                    <element name="roomKey" type="string" nillable="true"></element>
                    <element name="floor" type="string"></element>
                    <element name="floorKey" type="string" nillable="true"></element>
                    <element name="building" type="string"></element>
                    <element name="buildingKey" type="string" nillable="true"></element>
                    <element name="campus" type="string"></element>
                    <element name="campusKey" type="string" nillable="true"></element>
                </sequence>
            </complexType>
            <complexType name="ActiceStudent" abstract="false">
                <sequence>
                    <element name="countAll" type="integer"></element>
                    <element name="students" nillable="true" type="wns:studentsType"></element>
                </sequence>
            </complexType>
            <complexType name="Examination" abstract="false">
                <sequence>
                    <element name="id" type="long"></element>
                    <element name="uniquename" type="string" nillable="true"></element>
                    <element name="number" type="string" nillable="true"></element>
                    <element name="title" type="string"></element>
                    <element name="plannedDates" type="wns:plannedDatesType"></element>
                    <element name="registrationDataForExam" type="wns:registrationDataForExamType"></element>
                </sequence>
            </complexType>
            <complexType name="ExaminationPlanelement" abstract="false">
                <sequence>
                    <element name="planelementId" type="long"></element>
                    <element name="examType" type="wns:KeyValue"></element>
                    <element name="canceled" type="boolean"></element>
                    <element name="examDate" type="wns:ExamDate" nillable="true"></element>
                </sequence>
            </complexType>
            <complexType name="PeriodUsage" abstract="false">
                <sequence>
                    <element name="id" type="long"></element>
                    <element name="uniquename" type="string"></element>
                    <element name="hiskeyId" type="long"></element>
                </sequence>
            </complexType>
            <complexType name="AffiliationPerson" abstract="false">
                <sequence>
                    <element name="validFrom" type="date"></element>
                    <element name="validTo" type="date"></element>
                    <element name="person" type="wns:Member"></element>
                    <element name="affiliationType" type="wns:KeyValue"></element>
                </sequence>
            </complexType>
            <complexType name="CTime" abstract="false">
                <sequence>
                    <element name="start" type="time" nillable="true"></element>
                    <element name="end" type="time" nillable="true"></element>
                    <element name="academicTimeSpecification" type="wns:KeyValue" nillable="true"></element>
                </sequence>
            </complexType>
            <complexType name="AppCancel" abstract="false">
                <sequence>
                    <element name="planelementCancellationId" type="long"></element>
                    <element name="plannedDatesId" type="long" nillable="true"></element>
                    <element name="planelementId" type="long" nillable="true"></element>
                    <element name="date" type="date"></element>
                    <element name="time" type="wns:CTime"></element>
                    <element name="remark" type="string" nillable="true"></element>
                    <element name="weekday" type="wns:KeyValue"></element>
                </sequence>
            </complexType>
            <complexType name="IndividualDate" abstract="false">
                <sequence>
                    <element name="id" type="long"></element>
                    <element name="date" type="date"></element>
                    <element name="remark" type="string" nillable="true"></element>
                    <element name="from" type="time"></element>
                    <element name="to" type="time"></element>
                    <element name="weekdayId" type="long"></element>
                    <element name="roomId" type="long" nillable="true"></element>
                </sequence>
            </complexType>
            <complexType name="Period" abstract="false">
                <sequence>
                    <element name="startdate" type="dateTime" nillable="true">
                        <annotation>
                            <documentation>yyyy-mm-ddTHH:mm:ss</documentation>
                        </annotation>
                    </element>
                    <element name="enddate" type="dateTime" nillable="true">
                        <annotation>
                            <documentation>yyyy-mm-ddTHH:mm:ss</documentation>
                        </annotation>
                    </element>
                    <element name="usages" type="wns:usagesType"></element>
                </sequence>
            </complexType>
            <complexType name="PersonResponsible" abstract="false">
                <sequence>
                    <element name="sortorder" type="integer" nillable="true"></element>
                    <element name="person" type="wns:Member"></element>
                </sequence>
            </complexType>
            <complexType name="Student" abstract="false">
                <sequence>
                    <element name="registrationnumber" type="integer"></element>
                    <element name="firstname" type="string"></element>
                    <element name="surname" type="string"></element>
                    <element name="dateofbirth" type="date"></element>
                    <element name="gender" type="string"></element>
                    <element name="birthcity" type="string"></element>
                    <element name="country" type="wns:KeyValue" nillable="true"></element>
                    <element name="nationality" type="wns:KeyValue"></element>
                    <element name="enrollmentdate" type="date" nillable="true"></element>
                    <element name="studystatus" type="wns:KeyValue"></element>
                    <element name="term" type="integer"></element>
                    <element name="disenrollmentDate" type="date" nillable="true"></element>
                    <element name="account" type="wns:Account" nillable="true"></element>
                    <element name="email" type="wns:EAddress" nillable="true"></element>
                    <element name="degreePrograms" type="wns:degreeProgramsType"></element>
                </sequence>
            </complexType>
            <complexType name="EAddress" abstract="false">
                <sequence>
                    <element name="address" type="string"></element>
                    <element name="type" type="wns:KeyValue"></element>
                </sequence>
            </complexType>
            <complexType name="Attendee" abstract="false">
                <sequence>
                    <element name="personId" type="long"></element>
                    <element name="registrationnumber" type="integer"></element>
                    <element name="cancellation" type="boolean"></element>
                    <element name="workstatus" type="wns:KeyValue"></element>
                </sequence>
            </complexType>
            <complexType name="ExaRegResponse" abstract="false">
                <sequence>
                    <element name="id" type="long"></element>
                    <element name="lid" type="long"></element>
                    <element name="shorttext" type="string" nillable="true"></element>
                    <element name="defaulttext" type="string"></element>
                    <element name="longtext" type="string" nillable="true"></element>
                    <element name="elementnr" type="string" nillable="true"></element>
                    <element name="elementtype" type="wns:KeyValue"></element>
                    <element name="status" type="wns:KeyValue"></element>
                    <element name="validFrom" type="date"></element>
                    <element name="validTo" type="date"></element>
                    <element name="erChildren" type="wns:erChildrenType"></element>
                </sequence>
            </complexType>
            <complexType name="RegistrationDataForExam" abstract="false">
                <sequence>
                    <element name="beginDate" type="dateTime"></element>
                    <element name="endDate" type="dateTime"></element>
                    <element name="usageKey" type="string"></element>
                    <element name="usageHISKey" type="long"></element>
                </sequence>
            </complexType>
            <complexType name="OrgunitShort" abstract="false">
                <sequence>
                    <element name="id" type="long"></element>
                    <element name="lid" type="long"></element>
                    <element name="uniquename" type="string"></element>
                    <element name="defaulttext" type="string"></element>
                </sequence>
            </complexType>
            <complexType name="PlannedDate" abstract="false">
                <sequence>
                    <element name="plannedDatesId" type="long"></element>
                    <element name="rhythm" type="wns:KeyValue"></element>
                    <element name="weekday" type="wns:KeyValue"></element>
                    <element name="firstAppointment" type="date"></element>
                    <element name="lastAppointment" type="date"></element>
                    <element name="time" type="wns:CTime"></element>
                    <element name="expectedAttendees" type="integer" nillable="true"></element>
                    <element name="notice" type="string" nillable="true"></element>
                    <element name="room" type="wns:Room" nillable="true"></element>
                    <element name="appointmentModifications" type="wns:appointmentModificationsType"></element>
                    <element name="appointmentCancellations" type="wns:appointmentCancellationsType"></element>
                    <element name="personResponsibles" type="wns:personResponsiblesType"></element>
                    <element name="individualDates" type="wns:individualDatesType"></element>
                </sequence>
            </complexType>
            <complexType name="RegistrationDataInfo" abstract="false">
                <sequence>
                    <element name="beginDate" type="dateTime" nillable="true"></element>
                    <element name="endDate" type="dateTime" nillable="true"></element>
                    <element name="usageKey" type="string" nillable="true"></element>
                    <element name="usageHISKey" type="long" nillable="true"></element>
                </sequence>
            </complexType>
            <complexType name="UnitStudiesInfo" abstract="false">
                <sequence>
                    <element name="id" type="long"></element>
                    <element name="unitId" type="long"></element>
                    <element name="courseOfStudyId" type="long"></element>
                    <element name="courseOfStudyLid" type="long"></element>
                    <element name="rootElementtypeHiskey" type="integer"></element>
                </sequence>
            </complexType>
            <complexType name="Orgunit" abstract="false">
                <sequence>
                    <element name="id" type="long"></element>
                    <element name="lid" type="long"></element>
                    <element name="parentLid" type="long" nillable="true"></element>
                    <element name="uniquename" type="string"></element>
                    <element name="shorttext" type="string" nillable="true"></element>
                    <element name="defaulttext" type="string"></element>
                    <element name="longtext" type="string" nillable="true"></element>
                    <element name="orgunitType" type="wns:KeyValue" nillable="true"></element>
                    <element name="sortorder" type="long"></element>
                    <element name="validFrom" type="date"></element>
                    <element name="validTo" type="date"></element>
                    <element name="children" type="wns:childrenType"></element>
                    <element name="affiliations" type="wns:affiliationsType"></element>
                </sequence>
            </complexType>
            <element name="readRegistrationPeriodsForExam">
                <complexType>
                    <sequence>
                        <element name="planelementId" type="long"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="readRegistrationPeriodsForExamResponse">
                <complexType>
                    <sequence>
                        <element name="periods" type="wns:periodsType"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="findUnitForCourseOfStudy">
                <complexType>
                    <sequence>
                        <element name="id" type="string" nillable="true" minOccurs="0"></element>
                        <element name="unitId" type="string" nillable="true" minOccurs="0"></element>
                        <element name="courseOfStudyId" type="string" nillable="true" minOccurs="0"></element>
                        <element name="courseOfStudyLid" type="string" nillable="true" minOccurs="0"></element>
                        <element name="rootElementtypeHiskey" type="string" nillable="true" minOccurs="0">
                            <annotation>
                                <documentation>hiskey des Wurzelelementes, zu der die Unit gehört: Prüfungsordnung(4), Eignungsordnung(1),
                                    Immatrikulationsordnung(10)</documentation>
                            </annotation>
                        </element>
                        <element name="officialStatistics" type="string" nillable="true" minOccurs="0">
                            <annotation>
                                <documentation>Is unit relevant for official statistics, then use '1'. Currently only set for final exams.</documentation>
                            </annotation>
                        </element>
                        <element name="elementtypeHiskey" type="string" nillable="true" minOccurs="0"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="findUnitForCourseOfStudyResponse">
                <complexType>
                    <sequence>
                        <element name="unitStudiesList" type="wns:unitStudiesListType"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="findExaminationsForCourse">
                <complexType>
                    <sequence>
                        <element name="unitId" type="long" nillable="true">
                            <annotation>
                                <documentation>UnitId der Veranstaltung</documentation>
                            </annotation>
                        </element>
                        <element name="termKey" type="integer">
                            <annotation>
                                <documentation>[YEAR][1|2]</documentation>
                            </annotation>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="findExaminationsForCourseResponse">
                <complexType>
                    <sequence>
                        <element name="getExaminationsForCourseResponse" type="wns:getExaminationsForCourseResponseType"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="findParentUnitWithPlanningRelation">
                <complexType>
                    <sequence>
                        <element name="unitId" type="string" nillable="true" minOccurs="0"></element>
                        <element name="termYear" type="string" nillable="true" minOccurs="0"></element>
                        <element name="termTypeValueId" type="string" nillable="true" minOccurs="0"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="findParentUnitWithPlanningRelationResponse">
                <complexType>
                    <sequence>
                        <element name="examInfoList" type="wns:examInfoListType"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="readRegistrationDataForExam">
                <complexType>
                    <sequence>
                        <element name="unitId" type="string" nillable="true" minOccurs="0"></element>
                        <element name="termtypeId" type="string" nillable="true" minOccurs="0"></element>
                        <element name="termyear" type="string" nillable="true" minOccurs="0"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="readRegistrationDataForExamResponse">
                <complexType>
                    <sequence>
                        <element name="registrationData" type="wns:registrationDataType"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="readOrgunit">
                <complexType>
                    <sequence>
                        <element name="lid" type="long" nillable="true">
                            <annotation>
                                <documentation>wenn leer, dann wird die Hochschule ausgegeben</documentation>
                            </annotation>
                        </element>
                        <element name="versionDate" type="date" nillable="true"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="readOrgunitResponse">
                <complexType>
                    <sequence>
                        <element name="orgunitResponse" type="wns:Orgunit"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="findCoursesOfStudy">
                <complexType>
                    <sequence>
                        <element name="versionDate" type="date" nillable="true"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="findCoursesOfStudyResponse">
                <complexType>
                    <sequence>
                        <element name="cosResponse" type="wns:cosResponseType"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="findActiveStudents">
                <complexType>
                    <sequence>
                        <element name="termKey" type="integer">
                            <annotation>
                                <documentation>[YEAR][1|2]</documentation>
                            </annotation>
                        </element>
                        <element name="disenrollmentDate" type="date" nillable="true"></element>
                        <element name="offset" type="integer" nillable="true"></element>
                        <element name="limit" type="integer" nillable="true"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="findActiveStudentsResponse">
                <complexType>
                    <sequence>
                        <element name="findActiveStudentsResponse" type="wns:ActiceStudent"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="readExaminationRegulations">
                <complexType>
                    <sequence>
                        <element name="unitId" type="long"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="readExaminationRegulationsResponse">
                <complexType>
                    <sequence>
                        <element name="examinationRegulationsResponse" type="wns:ExaRegResponse"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="findCoursesOfTerm">
                <complexType>
                    <sequence>
                        <element name="unitId" type="long" nillable="true">
                            <annotation>
                                <documentation>UnitId der Veranstaltung/Prüfung</documentation>
                            </annotation>
                        </element>
                        <element name="termKey" type="integer">
                            <annotation>
                                <documentation>[YEAR][1|2]</documentation>
                            </annotation>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="findCoursesOfTermResponse">
                <complexType>
                    <sequence>
                        <element name="findCoursesOfTermResponse" type="wns:findCoursesOfTermResponseType"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="getAttendeesOfCourse">
                <complexType>
                    <sequence>
                        <element name="courseId" type="long">
                            <annotation>
                                <documentation>Id der Veranstaltung/Prüfung</documentation>
                            </annotation>
                        </element>
                        <element name="workstatusId" type="long" nillable="true">
                            <annotation>
                                <documentation>Art des Belegungssatzes</documentation>
                            </annotation>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="getAttendeesOfCourseResponse">
                <complexType>
                    <sequence>
                        <element name="getAttendeesOfCourseResponse" type="wns:getAttendeesOfCourseResponseType"></element>
                    </sequence>
                </complexType>
            </element>
            <complexType name="examInfoListType">
                <sequence>
                    <element name="examInfo" type="wns:ExamInfo" minOccurs="0" maxOccurs="unbounded"></element>
                </sequence>
            </complexType>
            <complexType name="getAttendeesOfCourseResponseType">
                <sequence>
                    <element name="attendee" type="wns:Attendee" minOccurs="0" maxOccurs="unbounded"></element>
                </sequence>
            </complexType>
            <complexType name="registrationDataForExamType">
                <sequence>
                    <element name="registrationData" type="wns:RegistrationDataForExam" minOccurs="0" maxOccurs="unbounded"></element>
                </sequence>
            </complexType>
            <complexType name="individualDatesType">
                <sequence>
                    <element name="individualDate" type="wns:IndividualDate" minOccurs="0" maxOccurs="unbounded"></element>
                </sequence>
            </complexType>
            <complexType name="degreeProgramsType">
                <sequence>
                    <element name="degreeProgram" type="wns:DegreeProgram" nillable="true" minOccurs="0" maxOccurs="unbounded"></element>
                </sequence>
            </complexType>
            <complexType name="appointmentCancellationsType">
                <sequence>
                    <element name="appointmentCancellation" type="wns:AppCancel" nillable="true" minOccurs="0" maxOccurs="unbounded"></element>
                </sequence>
            </complexType>
            <complexType name="examinationRegulationsIdListType">
                <sequence>
                    <element name="id" type="long" nillable="true" minOccurs="0" maxOccurs="unbounded"></element>
                </sequence>
            </complexType>
            <complexType name="orgunitsType">
                <sequence>
                    <element name="orgunitLid" type="long" minOccurs="0" maxOccurs="unbounded"></element>
                </sequence>
            </complexType>
            <complexType name="unitStudiesListType">
                <sequence>
                    <element name="unitStudiesInfo" type="wns:UnitStudiesInfo" minOccurs="0" maxOccurs="unbounded"></element>
                </sequence>
            </complexType>
            <complexType name="erChildrenType">
                <sequence>
                    <element name="examinationRegulationsResponse" type="wns:ExaRegResponse" nillable="true" minOccurs="0" maxOccurs="unbounded"></element>
                </sequence>
            </complexType>
            <complexType name="findCoursesOfTermResponseType">
                <sequence>
                    <element name="course" type="wns:Course" minOccurs="0" maxOccurs="unbounded"></element>
                </sequence>
            </complexType>
            <complexType name="registrationDataType">
                <sequence>
                    <element name="registrationDataInfo" type="wns:RegistrationDataInfo" minOccurs="0" maxOccurs="unbounded"></element>
                </sequence>
            </complexType>
            <complexType name="getExaminationsForCourseResponseType">
                <sequence>
                    <element name="examination" type="wns:Examination" nillable="true" minOccurs="0" maxOccurs="unbounded"></element>
                </sequence>
            </complexType>
            <complexType name="usagesType">
                <sequence>
                    <element name="usages" type="wns:PeriodUsage" minOccurs="0" maxOccurs="unbounded"></element>
                </sequence>
            </complexType>
            <complexType name="cosResponseType">
                <sequence>
                    <element name="cos" type="wns:CosSearchResponse" minOccurs="0" maxOccurs="unbounded"></element>
                </sequence>
            </complexType>
            <complexType name="appointmentModificationsType">
                <sequence>
                    <element name="appointmentModification" type="wns:AppMod" nillable="true" minOccurs="0" maxOccurs="unbounded"></element>
                </sequence>
            </complexType>
            <complexType name="plannedDatesType">
                <sequence>
                    <element name="plannedDate" type="wns:ExaminationPlanelement" minOccurs="0" maxOccurs="unbounded"></element>
                </sequence>
            </complexType>
            <complexType name="personResponsiblesType">
                <sequence>
                    <element name="personResponsible" type="wns:PersonResponsible" nillable="true" minOccurs="0" maxOccurs="unbounded"></element>
                </sequence>
            </complexType>
            <complexType name="childrenType">
                <sequence>
                    <element name="child" type="wns:OrgunitChild" nillable="true" minOccurs="0" maxOccurs="unbounded"></element>
                </sequence>
            </complexType>
            <complexType name="periodsType">
                <sequence>
                    <element name="period" type="wns:Period" minOccurs="0" maxOccurs="unbounded"></element>
                </sequence>
            </complexType>
            <complexType name="affiliationsType">
                <sequence>
                    <element name="affiliation" type="wns:AffiliationPerson" nillable="true" minOccurs="0" maxOccurs="unbounded"></element>
                </sequence>
            </complexType>
            <complexType name="studentsType">
                <sequence>
                    <element name="student" type="wns:Student" nillable="true" minOccurs="0" maxOccurs="unbounded"></element>
                </sequence>
            </complexType>
            <element name="ServiceFault">
                <complexType>
                    <sequence>
                        <element name="rootCause" type="string" minOccurs="0" maxOccurs="1" />
                        <element name="message" type="string" />
                        <element name="validationMessage" minOccurs="0" maxOccurs="unbounded" type="wns:ValidationMessage" />
                    </sequence>
                </complexType>
            </element>
            <complexType name="ValidationMessage">
                <sequence>
                    <element name="messageType" type="string" />
                    <element name="messageKey" type="string" />
                    <element name="messageParameter" minOccurs="0" maxOccurs="unbounded" type="string" />
                </sequence>
            </complexType>
        </schema>
    </types>
    <message name="ServiceFault">
        <part name="serviceFault" element="wns:ServiceFault" />
    </message>
    <message name="readRegistrationPeriodsForExam">
        <part name="parameters" element="wns:readRegistrationPeriodsForExam" />
    </message>
    <message name="readRegistrationPeriodsForExamResponse">
        <part name="parameters" element="wns:readRegistrationPeriodsForExamResponse" />
    </message>
    <message name="findUnitForCourseOfStudy">
        <part name="parameters" element="wns:findUnitForCourseOfStudy" />
    </message>
    <message name="findUnitForCourseOfStudyResponse">
        <part name="parameters" element="wns:findUnitForCourseOfStudyResponse" />
    </message>
    <message name="findExaminationsForCourse">
        <part name="parameters" element="wns:findExaminationsForCourse" />
    </message>
    <message name="findExaminationsForCourseResponse">
        <part name="parameters" element="wns:findExaminationsForCourseResponse" />
    </message>
    <message name="findParentUnitWithPlanningRelation">
        <part name="parameters" element="wns:findParentUnitWithPlanningRelation" />
    </message>
    <message name="findParentUnitWithPlanningRelationResponse">
        <part name="parameters" element="wns:findParentUnitWithPlanningRelationResponse" />
    </message>
    <message name="readRegistrationDataForExam">
        <part name="parameters" element="wns:readRegistrationDataForExam" />
    </message>
    <message name="readRegistrationDataForExamResponse">
        <part name="parameters" element="wns:readRegistrationDataForExamResponse" />
    </message>
    <message name="readOrgunit">
        <part name="parameters" element="wns:readOrgunit" />
    </message>
    <message name="readOrgunitResponse">
        <part name="parameters" element="wns:readOrgunitResponse" />
    </message>
    <message name="findCoursesOfStudy">
        <part name="parameters" element="wns:findCoursesOfStudy" />
    </message>
    <message name="findCoursesOfStudyResponse">
        <part name="parameters" element="wns:findCoursesOfStudyResponse" />
    </message>
    <message name="findActiveStudents">
        <part name="parameters" element="wns:findActiveStudents" />
    </message>
    <message name="findActiveStudentsResponse">
        <part name="parameters" element="wns:findActiveStudentsResponse" />
    </message>
    <message name="readExaminationRegulations">
        <part name="parameters" element="wns:readExaminationRegulations" />
    </message>
    <message name="readExaminationRegulationsResponse">
        <part name="parameters" element="wns:readExaminationRegulationsResponse" />
    </message>
    <message name="findCoursesOfTerm">
        <part name="parameters" element="wns:findCoursesOfTerm" />
    </message>
    <message name="findCoursesOfTermResponse">
        <part name="parameters" element="wns:findCoursesOfTermResponse" />
    </message>
    <message name="getAttendeesOfCourse">
        <part name="parameters" element="wns:getAttendeesOfCourse" />
    </message>
    <message name="getAttendeesOfCourseResponse">
        <part name="parameters" element="wns:getAttendeesOfCourseResponse" />
    </message>
    <portType name="StudIPServicePortType">
        <operation name="readRegistrationPeriodsForExam">
            <documentation>SECURED BY [(cm.exa.period.VIEW_ALL)]</documentation>
            <input message="wns:readRegistrationPeriodsForExam" />
            <output message="wns:readRegistrationPeriodsForExamResponse" />
            <fault name="serviceFault" message="wns:ServiceFault" />
        </operation>
        <operation name="findUnitForCourseOfStudy">
            <documentation>SECURED BY [(cm.app.courseofstudy.VIEW_COURSE_OF_STUDY)]</documentation>
            <input message="wns:findUnitForCourseOfStudy" />
            <output message="wns:findUnitForCourseOfStudyResponse" />
            <fault name="serviceFault" message="wns:ServiceFault" />
        </operation>
        <operation name="findExaminationsForCourse">
            <documentation></documentation>
            <input message="wns:findExaminationsForCourse" />
            <output message="wns:findExaminationsForCourseResponse" />
            <fault name="serviceFault" message="wns:ServiceFault" />
        </operation>
        <operation name="findParentUnitWithPlanningRelation">
            <documentation>SECURED BY [(cm.app.courseofstudy.VIEW_COURSE_OF_STUDY)]</documentation>
            <input message="wns:findParentUnitWithPlanningRelation" />
            <output message="wns:findParentUnitWithPlanningRelationResponse" />
            <fault name="serviceFault" message="wns:ServiceFault" />
        </operation>
        <operation name="readRegistrationDataForExam">
            <documentation></documentation>
            <input message="wns:readRegistrationDataForExam" />
            <output message="wns:readRegistrationDataForExamResponse" />
            <fault name="serviceFault" message="wns:ServiceFault" />
        </operation>
        <operation name="readOrgunit">
            <documentation></documentation>
            <input message="wns:readOrgunit" />
            <output message="wns:readOrgunitResponse" />
            <fault name="serviceFault" message="wns:ServiceFault" />
        </operation>
        <operation name="findCoursesOfStudy">
            <documentation></documentation>
            <input message="wns:findCoursesOfStudy" />
            <output message="wns:findCoursesOfStudyResponse" />
            <fault name="serviceFault" message="wns:ServiceFault" />
        </operation>
        <operation name="findActiveStudents">
            <documentation></documentation>
            <input message="wns:findActiveStudents" />
            <output message="wns:findActiveStudentsResponse" />
            <fault name="serviceFault" message="wns:ServiceFault" />
        </operation>
        <operation name="readExaminationRegulations">
            <documentation></documentation>
            <input message="wns:readExaminationRegulations" />
            <output message="wns:readExaminationRegulationsResponse" />
            <fault name="serviceFault" message="wns:ServiceFault" />
        </operation>
        <operation name="findCoursesOfTerm">
            <documentation></documentation>
            <input message="wns:findCoursesOfTerm" />
            <output message="wns:findCoursesOfTermResponse" />
            <fault name="serviceFault" message="wns:ServiceFault" />
        </operation>
        <operation name="getAttendeesOfCourse">
            <documentation></documentation>
            <input message="wns:getAttendeesOfCourse" />
            <output message="wns:getAttendeesOfCourseResponse" />
            <fault name="serviceFault" message="wns:ServiceFault" />
        </operation>
    </portType>
    <binding name="StudIPServiceBinding" type="wns:StudIPServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="readRegistrationPeriodsForExam">
            <soap:operation soapAction="http://www.his.de/ws/StudIPService/readRegistrationPeriodsForExam" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="serviceFault">
                <soap:fault name="serviceFault" use="literal" />
            </fault>
        </operation>
        <operation name="findUnitForCourseOfStudy">
            <soap:operation soapAction="http://www.his.de/ws/StudIPService/findUnitForCourseOfStudy" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="serviceFault">
                <soap:fault name="serviceFault" use="literal" />
            </fault>
        </operation>
        <operation name="findExaminationsForCourse">
            <soap:operation soapAction="http://www.his.de/ws/StudIPService/findExaminationsForCourse" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="serviceFault">
                <soap:fault name="serviceFault" use="literal" />
            </fault>
        </operation>
        <operation name="findParentUnitWithPlanningRelation">
            <soap:operation soapAction="http://www.his.de/ws/StudIPService/findParentUnitWithPlanningRelation" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="serviceFault">
                <soap:fault name="serviceFault" use="literal" />
            </fault>
        </operation>
        <operation name="readRegistrationDataForExam">
            <soap:operation soapAction="http://www.his.de/ws/StudIPService/readRegistrationDataForExam" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="serviceFault">
                <soap:fault name="serviceFault" use="literal" />
            </fault>
        </operation>
        <operation name="readOrgunit">
            <soap:operation soapAction="http://www.his.de/ws/StudIPService/readOrgunit" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="serviceFault">
                <soap:fault name="serviceFault" use="literal" />
            </fault>
        </operation>
        <operation name="findCoursesOfStudy">
            <soap:operation soapAction="http://www.his.de/ws/StudIPService/findCoursesOfStudy" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="serviceFault">
                <soap:fault name="serviceFault" use="literal" />
            </fault>
        </operation>
        <operation name="findActiveStudents">
            <soap:operation soapAction="http://www.his.de/ws/StudIPService/findActiveStudents" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="serviceFault">
                <soap:fault name="serviceFault" use="literal" />
            </fault>
        </operation>
        <operation name="readExaminationRegulations">
            <soap:operation soapAction="http://www.his.de/ws/StudIPService/readExaminationRegulations" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="serviceFault">
                <soap:fault name="serviceFault" use="literal" />
            </fault>
        </operation>
        <operation name="findCoursesOfTerm">
            <soap:operation soapAction="http://www.his.de/ws/StudIPService/findCoursesOfTerm" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="serviceFault">
                <soap:fault name="serviceFault" use="literal" />
            </fault>
        </operation>
        <operation name="getAttendeesOfCourse">
            <soap:operation soapAction="http://www.his.de/ws/StudIPService/getAttendeesOfCourse" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="serviceFault">
                <soap:fault name="serviceFault" use="literal" />
            </fault>
        </operation>
    </binding>
    <service name="StudIPService">
        <wsp:PolicyReference URI="#UsernameToken" />
        <port name="StudIPServicePort" binding="wns:StudIPServiceBinding">
            <soap:address location="https://hisinone-test.zvw.uni-goettingen.de/demo/services2/StudIPService" />
        </port>
    </service>
    <!-- Policy for UsernameToken with plaintext password, sent from client to server only -->
    <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="UsernameToken">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy />
                        </sp:UsernameToken>
                    </wsp:Policy>
                </sp:SupportingTokens>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
